GADGET_NAMESPACE=ext.gadget
GITHUB_REPOSITORY_URL=https://github.com/ccxtwf/vocaloidlyrics-scripts-and-stylesheets
GITHUB_REPOSITORY_BRANCH=main

# Wiki Settings
WIKI_API_URL=https://vocaloidlyrics.miraheze.org/w/api.php
# Set using Special:BotPassword
BOT_USERNAME=<username>@<botname>
BOT_PASSWORD=pass
# Set custom UA so your requests can be identified
BOT_USERAGENT=your user agent

# Set the following if testing on a local wiki and you need the bot to transmit 
# requests over insecure HTTP
#ENV_REJECT_UNAUTHORIZED=0