.invert() {
  -moz-filter: brightness(1) invert(1);
  -webkit-filter: brightness(1) invert(1);
  filter: brightness(1) invert(1);
}
.no-invert() {
  -moz-filter: none;
  -webkit-filter: none;
  filter: none;
}

@dark-mode-css-definitions: {  
  // Wordmark
  .mw-logo-container,
  img.mw-logo-wordmark {
    color-scheme: initial !important;
    -moz-filter: initial !important;
    -webkit-filter: initial !important;
    filter: initial !important;
  }
  
  // Notification templates
  .vlw-notify {
    background-color: black;
  }
  .vlw-notify.darkblue {
    border: 1px solid #024fd4;
    border-width: 1px 10px;
  }
  .vlw-notify.darkblue .vlw-notify-exclamation > div.icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Ctitle%3Enotice%3C/title%3E%3Cpath d='M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zm1 16H9v-2h2zm0-4H9V4h2z' id='path4' style='fill:%23024fd4;fill-opacity:1' /%3E%3C/svg%3E%0A");
  }
  .vlw-notify.black {
    border: 1px solid white;
    border-width: 1px 10px;
  }
  .vlw-notify.black .vlw-notify-exclamation > div.icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Ctitle%3Enotice%3C/title%3E%3Cpath d='M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zm1 16H9v-2h2zm0-4H9V4h2z' id='path4' style='fill:white;fill-opacity:1' /%3E%3C/svg%3E%0A");
  }
  
  // jQuery Spinner
  .mw-spinner {
    .invert();
  }
  
  // Load random page
  .load-random .gallerybox .thumb img {
    .invert();
    opacity: 0.6;
  }
  .load-random .gallerybox .gallerytext a {
    color: #94dd8d !important;
  }
  
  // DiscussionTools: Highlighted Comment
  .ext-discussiontools-init-highlight {
    mix-blend-mode: lighten !important;
  }
  
  // Extension:SocialProfile
  .profile-info-container b {
    color: #ccc;
  }
  .profile-info-container div {
    color: #999;
  }
  
  // Gadget-RTRC
  .mw-rtrc-wrapper {
    -moz-filter: invert(1) hue-rotate(180deg);
    -webkit-filter: invert(1) hue-rotate(180deg);
    filter: invert(1) hue-rotate(180deg);
  }
  
  // InPageEdit
  .ssi-modalWindow {
    background: #2f2f2f;
  }
  .in-page-edit {
    color: #ccc;
    .diff-deletedline.diff-side-deleted,
    .diff-addedline.diff-side-added {
      background-color: #000;
      color: #eee;
    }
    .diff-context {
      background-color: #222;
      color: #aaa;
    }
    &:not(.notify) .ssi-modalTitle {
      background: #2f2f2f;
      color: #ccc;
    }
    .ssi-overflow:before, .ssi-overflow:after {
      background-color: #2f2f2f;
    }
    .dialog .ssi-buttons .btn {
      color: #ccc;
      &:hover {
        background: #717171 !important;
      }
    }
    input {
      background-color: #3b3b3b;
      color: #ccc;
    }
    &.ipe-editor .ssi-buttons {
      background-color: #2f2f2f;
      color: #ccc;
    }
  }
  .ipe-editor .editArea {
    background-color: #3b3b3b;
    color: #ccc;
  }
}

html.skin-theme-clientpref-night, :root.skin-theme-clientpref-night {
  @dark-mode-css-definitions();
}
@media screen and (prefers-color-scheme: dark) {
  html.skin-theme-clientpref-os, :root.skin-theme-clientpref-os {
    @dark-mode-css-definitions();
  }
}