/* 
* Gadget-rc-discussion
*
* CSS Variables:
*   --rc-discussion-container-border-color
*   --rc-discussion-container-bg-color
*   --rc-discussion-error-text-color
*   --rc-discussion-date-group-bg-color
*   --rc-discussion-date-group-fg-color
*   --rc-discussion-post-title-bg-color
*   --rc-discussion-post-title-fg-color
*/
#rc-discussion-dropdown {
  margin-top: 20px;
}

#rc-discussion-feeds-articles-container {
  border: solid 1px var(--rc-discussion-container-border-color, #000);
  background-color: var(--rc-discussion-container-bg-color, #fff);
  padding: 20px 10px;
  border-radius: 10px;
  margin-top: 20px;
}

#rc-discussion-feeds-articles .rc-discussion-date-group {
  padding-bottom: 20px;
}

#rc-discussion-feeds-articles .rc-discussion-date {
  font-size: 1.3em;
  padding: 10px 0 10px 0;
  font-weight: bold;
  background-color: var(--rc-discussion-date-group-bg-color, #efefef);
  color: var(--rc-discussion-date-group-fg-color, #7d7d7d);
}

#rc-discussion-feeds-articles article {
  margin-bottom: 0;
  line-height: 1.5rem;
  padding: 20px 20px 5px 20px;
}

#rc-discussion-feeds-articles .rc-discussion-error {
  color: var(--rc-discussion-error-text-color, #721212);
  font-size: 0.9rem;
  font-style: italic;
}

#rc-discussion-feeds-articles .rc-discussion-feed-comment-summary {
  font-size: 1.25rem;
  font-weight: bold;
}

#rc-discussion-feeds-articles .rc-discussion-feed-user-info {
  font-size: 0.9rem;
}

#rc-discussion-feeds-articles .rc-discussion-feed-post-title {
  background-color: var(--rc-discussion-post-title-bg-color, #efefef);
  color: var(--rc-discussion-post-title-fg-color, #7d7d7d);
  padding: 2px 8px;
  border-radius: 4px;
}

#rc-discussion-feeds-articles .rc-discussion-feed-comment-heading {
  font-size: 1.05rem;
  margin-bottom: 8px;
  border-bottom: solid 1px #d1d1d1;
}

#rc-discussion-feeds-articles .rc-discussion-feed-added-comment {
  line-height: 1.2rem;
  max-height: 3.6rem;
  overflow-y: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  width: 100%;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#rc-discussion-feeds-articles .rc-discussion-feed-timestamp {
  font-size: 0.9rem;
  font-style: italic;
  border-top: solid 1px #d1d1d1;
  margin-top: 8px;
}

.oo-ui-icon-reload, .mw-ui-icon-reload:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3E reload %3C/title%3E%3Cpath d=%22M15.65 4.35A8 8 0 1 0 17.4 13h-2.22a6 6 0 1 1-1-7.22L11 9h7V2z%22/%3E%3C/svg%3E");
}

@media (max-width: 500px) {
  #rc-discussion-dropdown .oo-ui-fieldLayout-body {
    flex-direction: column;
  }
  #rc-discussion-dropdown .oo-ui-fieldLayout-field {
    width: 100%;
  }
}