/* 
* Gadget-vlw-tl-queue-display
*
* CSS Variables:
*   --tl-queue-container-bg-color
*   --tl-queue-action-label-color
*   --tl-queue-label-color
*   --tl-queue-item-link-color
*   --tl-queue-item-link-hover-color
*   --tl-queue-item-subtitle-color
*/
/* [[Category:Stylesheets]] */

#vlw-tl-queue-container {
  background-color: var(--tl-queue-container-bg-color, #fff);
  border: solid 2px #5d5d5d;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  word-break: break-word;
}

#vlw-tl-queue-container #icon-refresh {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

#vlw-tl-queue-container #icon-refresh img {
  width: 20px;
  height: 20px;
}

#vlw-tl-queue-container #icon-refresh .label {
  color: var(--tl-queue-action-label-color, #737373);
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: 5px;
}

#vlw-tl-queue-container .label {
  color: var(--tl-queue-label-color, #7e4f4f);
  font-size: 0.95rem;
  font-weight: bold;
  margin-top: 10px;
}

#vlw-tl-queue-container ul {
  padding-left: 0px;
  margin-left: 0px;
}

#vlw-tl-queue-container ul li {
  font-size: 0.9rem;
  line-height: 1.25rem;
  list-style: none;
  display: block;
}

#vlw-tl-queue-container ul li.hidden {
  display: none;
}

#vlw-tl-queue-container ul li a {
  padding: 0;
  color: var(--tl-queue-item-link-color, #604e4e) !important;
  font-weight: 400;
}
#vlw-tl-queue-container ul li a:hover {
  color: var(--tl-queue-item-link-hover-color, #878181) !important;
}

#vlw-tl-queue-container .toggle {
  cursor: pointer;
  color: var(--tl-queue-action-label-color, #7e4f4f);
}

#vlw-tl-queue-container .tl-check-req-subtitle {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.8rem;
  color: var(--tl-queue-item-subtitle-color, #9d9d9d);
}
#vlw-tl-queue-container .tl-check-req-producer, #vlw-tl-queue-container .tl-check-req-author {
  display: inline;
}
#vlw-tl-queue-container .tl-check-req-producer {
  font-style: italic;
  margin-right: 10px;
}
#vlw-tl-queue-container .tl-check-req-author::before {
  content: '';
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/97/Ic_create_48px.svg);
  filter: brightness(0) saturate(100%) invert(69%) sepia(3%) saturate(4%) hue-rotate(322deg) brightness(91%) contrast(89%);
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
}
#vlw-tl-queue-container .tl-check-req-approved {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  content: url('https://upload.wikimedia.org/wikipedia/commons/1/16/Allowed.svg');
  display: inline;
}
#vlw-tl-queue-container .tl-check-req-rejected {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  content: url('https://upload.wikimedia.org/wikipedia/commons/b/bc/Not_allowed.svg');
  display: inline;
}