.theme-dark {
  body {
    color: var(--color-subtle);
  }
  #firstHeading, .mw-heading h1, .mw-heading h2, .mw-heading h3, .mw-heading h4, .mw-heading h5, .mw-heading h6 {
    color: var(--color-base);
  }
  a, a.external {
    color: var(--color-progressive);
  }
}
